@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200..900;1,200..900&display=swap');

body {
  background: #332E67
}

blockquote,
body,
button,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
ul {
  margin: 0;
  padding: 0;
}

h1 {
}

button {
  border: none;
}

* {
  box-sizing: border-box;
  font-family: 'Work Sans', serif;
}

button {
  text-decoration: none;
  outline: none;
}

a {
  text-decoration: none;
}